<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="container-fluid">
    <body>
      <%= render "layouts/flash" %>
      <div class="text-center mt-5">
        <%= link_to "Home", root_path, class: "btn btn-primary" %>
      </div>
      <%= yield %>
    </body>
  </div>
</html>
